.form-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 14px;
  min-width: 300px;
}
.label-container {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  color: gray;
}
.label-container input{
  padding: 8px 12px;
  border-radius: 24px;
  border: solid 2px var(--border-grey);
}
.submit-button {
  background-color: var(--orange-brand);
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 12px 0;
  padding: 8px 0;
  border-radius: 8px;
}