.form-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 24px 32px;
  border-radius: 14px;
  min-width: 300px;
}
.label-container {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  color: gray;
}
.label-container input{
  border:none;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
  outline: none;
  margin-top: 4px;
}
.label-container input:focus{
  outline: 2px solid var(--orange-brand);
}
textarea {
  padding: 8px 12px;
  border-radius: 8px;
  border: solid 2px var(--border-grey);
  height: 150px;
  margin-top: 4px;
}
textarea:focus {
  outline: 2px solid var(--orange-brand);
}
.submit-button {
  background-color: var(--orange-brand);
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 14px 0;
  padding: 8px 0;
  border-radius: 8px;
  cursor: pointer;
}
.cancel-button {
  background-color: var(--soft-orange);
  color: var(--orange-brand);
  border: none;
  padding: 6px 0;
  cursor: pointer;
}
.cancel-button:hover {
  outline: 2px solid var(--orange-brand);
}