.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 18px;
  flex-wrap: wrap;
}
.filter-item {
  border: solid 1px var(--border-grey);
  padding: 8px 24px;
  cursor: pointer;
}
.filter-item:hover {
  background-color: var(--soft-grey);
}